<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li ng-class="item.activeClass()" ng-repeat="item in menu"><a href="{{item.href}}">{{ item.titulo }}</a></li>
        </ul>
    </div>
</nav>
<div class="pull-left">
    <h1>prueba - s4n <small>{{ subtitulo() }}</small></h1>
</div>
<div class="pull-right"  >
    <div class="dropdown" ng-if="lstUsuarios">
        <button class="btn btn-default dropdown-toggle" type="button" id="ddmUsuarioGit" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span>{{ usuario.usuarioGit }}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="ddmUsuarioGit">
            <li ng-repeat="u in lstUsuarios"><a href="" ng-click="seleccionarUsuario(u)">{{u}}</a></li>
        </ul>
    </div>
    <div ng-if="usuario">
        <div>
            <button type="button" ng-if="usuario" class="close" aria-hidden="true" ng-click="quitarUsuario()">&times;</button>
        </div>
        <div ng-repeat="campo in campos">
            <div ng-if="campo != 'usuarioGit'"><b>{{campo}}:</b> <span>{{ usuario[campo] }}</span></div> 
        </div>
    </div>
</div>
<div class="clearfix"></div>